doctype html
html(lang="en")
  //Built with <3 by Cole & YH
  head
    //Material Design fonts
    link(href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900', rel='stylesheet')
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='//fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    //Bootstrap
    link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet')
    //Bootstrap Material Design
    link(href='/css/bootstrap-material-design.css', rel='stylesheet')
    link(href='/css/ripples.css', rel='stylesheet')
    //Cards
    link(href='/css/cards.css', rel='stylesheet')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src="/cardTemplate.js")
    title Slapjack by C-YH
  body
    block content

